@model nethloader.Models.AccountViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset your password";
    ViewData["svgIcon-key"] = @Html.Raw("<svg viewBox='0 0 24 24'><path d='M7,14A2,2 0 0,1 5,12A2,2 0 0,1 7,10A2,2 0 0,1 9,12A2,2 0 0,1 7,14M12.65,10C11.83,7.67 9.61,6 7,6A6,6 0 0,0 1,12A6,6 0 0,0 7,18C9.61,18 11.83,16.33 12.65,14H17V18H21V14H23V10H12.65Z' /></svg>");
    ViewData["svgIcon-subkey"] = @Html.Raw("<svg viewBox='0 0 24 24'><path d='M6.5,3C8.46,3 10.13,4.25 10.74,6H22V9H18V12H15V9H10.74C10.13,10.75 8.46,12 6.5,12C4,12 2,10 2,7.5C2,5 4,3 6.5,3M6.5,6A1.5,1.5 0 0,0 5,7.5A1.5,1.5 0 0,0 6.5,9A1.5,1.5 0 0,0 8,7.5A1.5,1.5 0 0,0 6.5,6M8,17H16V19H8V17Z' /></svg>");

}

<div class="inner-wrapper flex flex-full-center flex-dc">
    <h1 class="title title--primary">@ViewData["Title"]</h1>
    <div class="content-card content-card--w400">
        <form asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="Password" id="password" type="password" class="input input--password" data-type="password" required>
                <label for="password" class="label--itext flex flex-full-center">
                    @ViewData["svgIcon-key"]&nbsp;New password
            </label>
            </div>
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="ConfirmPassword" id="cpassword" type="password" class="input input--password" data-type="password" required>
                <label for="cpassword" class="label--itext flex flex-full-center">
                    @ViewData["svgIcon-subkey"]&nbsp;Confirm new password
                </label>
            </div>
            <div class="form-row flex flex-full-center">
                <button class="button button--dark button--big button--fw pointer ta-c" type="submit">Set new password</button>
            </div>
        </form>
    </div>
</div>
