@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <title>@ViewData["Title"]</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/icons/manifest.json">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#263238">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Nethloader">
    <meta name="application-name" content="Nethloader">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#03a9f4">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Exo:300,400|Roboto:300,400,500" rel="stylesheet">

    <!-- Main Styles -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="@("flex flex-dc" + ((bool)ViewData["img-bg"] ? " img-bg" : ""))">
    <div class="@("content-wrapper flex flex-full-center flex-dc" + ((bool)ViewData["img-bg"] ? "" : " flex-sb"))">
        @RenderBody()
    </div>
    <div class="app-footer"><p class="ta-c"><small><a href="https://github.com/nethruster/nethloader" target="_blank" rel="noopener">Powered by Nethloader</a>&nbsp;&dash;&nbsp;<a href="/account/login" target="_blank" rel="noopener">Login</a></small></p></div>
    <script>
        var antiforgeryToken = @Json.Serialize(antiforgery.GetAndStoreTokens(Context).RequestToken);
        var supportedExtensions = (@Json.Serialize(string.Join(",", Enum.GetNames(typeof(nethloader.Models.ImageExtensions))))).split(',');
    </script>
    @if((bool)ViewData["loadScript"]) {
        <script src="~/js/scripts.js"></script>
    }
</body>
</html>