@{
    ViewData["Title"] = "Settings";
}

<header class="user-header flex flex-full-center">
    <div class="inner-wrapper flex flex-sb">
        <a href="/" class="button button--primary c-pointer flex flex-full-center" title="Go back to gallery" ripple="ripple">
            <svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#arrow-left"></use></svg>&nbsp;
            Go back
        </a>
        <div class="user-header__user-dropdown__wrapper c-pointer" data-dropdownelement="user-menu">
            <div class="user-header__user-dropdown-trigger flex flex-full-center" title="User menu" ripple="ripple">
                <svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#user-round"></use></svg>&nbsp;
                &nbsp;
                <svg class="user-header__user-menu-icon" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#menu-down"></use></svg>
            </div>
            <div class="user-header__user-dropdown" data-dropdownid="user-menu">
                <ul class="user-header__user-dropdown__items">
                    <li class="user-header__user-dropdown__item c-nope" ripple="ripple" title="You are here">
                        <p><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#settings"></use></svg>&nbsp;User CP</p>
                    </li>
                    <li>
                        <form asp-controller="Account" asp-action="Logout" method="post" class="c-pointer">
                            <button type="submit" class="user-header__user-dropdown__item c-pointer" ripple="ripple" title="Log this user out"><p class="ta-l"><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#exit"></use></svg>&nbsp;Logout</p></button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="inner-wrapper flex flex-dc">
    <div class="paper-card--margin flex flex-dc">
        <div class="text--title setting-panel-title text--500 flex flex-cross-center">
            <svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#identity"></use></svg>&nbsp;<span>Account</span>
        </div>
        <div class="setting-panel paper-card paper-card--fw paper-card--shadow2 paper-card--margin-tb">
            <div class="setting-panel__item flex">
                <div class="setting-panel__item-id t-upp text--margin text--secondary"><strong>Username</strong></div><div class="setting-panel__item-value text--margin text--secondary" data-itemvalueid="username">@(((nethloader.Models.User)ViewData["User"]).UserName)</div>
                <span class="setting-panel__item-edit text--secondary button button--transparent flex flex-full-center c-pointer" ripple="ripple" data-dialogtrigger="chuname">
                    <small><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#edit"></use></svg></small>
                </span>
            </div>
            <div class="setting-panel__item flex">
                <div class="setting-panel__item-id t-upp text--margin text--secondary"><strong>Email</strong></div><div class="setting-panel__item-value text--margin text--secondary" data-itemvalueid="email">@(((nethloader.Models.User)ViewData["User"]).Email)</div>
                <span class="setting-panel__item-edit text--secondary button flex flex-full-center" ripple="ripple">
                    <small><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#identity-mail"></use></svg></small>
                </span>
            </div>
        </div>
        <div class="text--title setting-panel-title text--500 flex flex-cross-center">
            <svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#security"></use></svg>&nbsp;<span>Security</span>
        </div>
        <div class="setting-panel paper-card paper-card--fw paper-card--shadow2 paper-card--thin-p paper-card--margin-tb">
            <div class="setting-panel__item flex">
                <div class="setting-panel__item-id t-upp text--margin text--secondary"><strong>Password</strong></div><div class="setting-panel__item-value text--margin text--secondary">&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;</div>
                <span class="setting-panel__item-edit text--secondary button button--transparent flex flex-full-center c-pointer" ripple="ripple" data-dialogtrigger="chpass">
                    <small><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#edit"></use></svg></small>
                </span>
            </div>
        </div>
        <div class="text--title setting-panel-title text--500 flex flex-cross-center">
            <svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#remote"></use></svg>&nbsp;<span>Remote</span>
        </div>
        <div class="setting-panel paper-card paper-card--fw paper-card--shadow2 paper-card--thin-p paper-card--margin-tb">
            <div class="setting-panel__item flex">
                <div class="setting-panel__item-id t-upp text--margin text--secondary"><strong>APIkey</strong></div><div class="setting-panel__item-value text--margin text--secondary" data-itemvalueid="apikey">@(((nethloader.Models.User)ViewData["User"]).ApiKey)</div>
                <span class="setting-panel__item-edit text--secondary button button--transparent flex flex-full-center c-pointer" ripple="ripple" data-dialogtrigger="gnapik">
                    <small><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#key-reset"></use></svg></small>
                </span>
            </div>
        </div>
        <div class="text--title setting-panel-title text--500 flex flex-cross-center">
            <svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#world"></use></svg>&nbsp;<span>Custom Domain</span>
        </div>
        <div class="setting-panel paper-card paper-card--fw paper-card--shadow2 paper-card--thin-p paper-card--margin-tb">
            <div class="setting-panel__item flex">
                <div class="setting-panel__item-id t-upp text--margin text--secondary"><strong>Domain</strong></div><div class="setting-panel__item-value text--margin text--secondary" data-itemvalueid="domain">
                    @if ((((nethloader.Models.User)ViewData["User"]).CustomDomainStatus) == true)
                    {
                       @(((nethloader.Models.User)ViewData["User"]).CustomDomain)
                    }
                    else
                    {
                        @Html.Raw("N/D");
                    }
                </div>
                <span class="setting-panel__item-edit text--secondary button button--transparent flex flex-full-center c-pointer" ripple="ripple" data-dialogtrigger="chdomain">
                    <small><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#edit"></use></svg></small>
                </span>
            </div>
        </div>
    </div>
</div>

@Html.Partial("./modals/ModalChname.cshtml")

@Html.Partial("./modals/ModalChpassword.cshtml")

@Html.Partial("./modals/ModalRegenKey.cshtml")

@Html.Partial("./modals/ModalChDomain.cshtml")